body {
  background: #d9ede1;
}

.App {
  padding: 10px 200px 20px 200px;
}

.App .App-header {
  margin: 30px;
}

.App footer {
  text-align: center;
  margin: 30px 0;
}

@media (max-width: 996px) {
  .App {
    padding: 0;
  }

  .container {
    padding: 0;
  }
}
